#board {
    width: 780px;
    margin: 0px;
}

/* div {
    margin: 10px;
} */

table {
    width: 650px;
    padding: 0px;
}

td {
    width: 60px;
    height: 60px;
    border: black 1px dotted;
}

#player {
    background-color: green;
    background-image: url('https://art.pixilart.com/7e7cfd961a2b3e4.png'); 
    background-size: 60px 60px;
    border: 0px;
}

.filled {
    background-color: greenyellow;
}



/* Panel and buttons */

#buttonPanel {
    width: 650px;
}

button {
    width: 100px;
    height: 75px
}