#board {
    width: 650px;
    margin: 0px;
}

table {
    width: 650px;
    padding: 0px;
}

td {
    width: 50px;
    height: 50px;
    border: black 1px dotted;
}

#player {
    background-color: green !important;
}

td.filled {
    background-color: greenyellow !important;
}

/* Panel and buttons */

#buttonPanel {
    width: 650px;
}

button {
    width: 100px;
    height: 75px
}